{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <img src="{{ "logo.svg" | absURL }}" width="180" height="180" alt="Logo">
    </div>
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2"
        href="/csharp/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}overview/introduction/"
        role="button">{{ i18n "get-started" }}</a>
      <p class="meta opacity-75">{{ i18n "last-updated" }}: {{ now.Format "02.01.2006" }} <a
          href="https://github.com/musicvano/DevBook">[GitHub]</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm bg-light">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5 desc">
        <a href="/csharp/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}overview/introduction/">
          <h2 class="h4">⚡️ C#</h2>
          <p>{{ i18n "about-csharp" }}</p>
        </a>
      </div>
      <div class="col-lg-5 desc">
        <a href="/java/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}overview/introduction/">
          <h2 class="h4">☕ Java</h2>
          <p>{{ i18n "about-java" }}</p>
        </a>
      </div>
      <div class="col-lg-5 desc">
        <a href="/kotlin/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}overview/introduction/">
          <h2 class="h4">📱 Kotlin</h2>
          <p>{{ i18n "about-kotlin" }}</p>
        </a>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5 desc">
        <a href="/cpp/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}overview/introduction/">
          <h2 class="h4">🚀 C++</h2>
          <p>{{ i18n "about-cpp" }}</p>
        </a>
      </div>
      <div class="col-lg-5 desc">
        <a href="/python/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}basics/introduction/">
          <h2 class="h4">🐍 Python</h2>
          <p>{{ i18n "about-python" }}</p>
        </a>
      </div>
      <div class="col-lg-5 desc">
        <a href="/javascript/{{ if .Site.Params.options.docsVersioning }}{{ .Site.Params.docsVersion }}/{{ end }}overview/introduction/">
          <h2 class="h4">🌐 JavaScript</h2>
          <p>{{ i18n "about-javascript" }}</p>
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}