/* Jost-Regular */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Regular"),   // Full Name
    local("Jost-Regular"),           // PostScript name
    // indestructible Jost*
    local("Jost* Book"),
    local("Jost-Book"),
    url("fonts/vendor/Jost/Jost-400-Book.woff2") format("woff2"),
    url("fonts/vendor/Jost/Jost-400-Book.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Jost-500 */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Medium"),
    local("JostRoman-Medium"),
    // indestructible Jost*
    local("Jost* Medium"),
    local("Jost-Medium"),
    url("fonts/vendor/Jost/Jost-500-Medium.woff2") format("woff2"),
    url("fonts/vendor/Jost/Jost-500-Medium.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Jost-700 */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Bold"),
    local("JostRoman-Bold"),
    // indestructible Jost*
    local("Jost* Bold"),
    local("Jost-Bold"),
    url("fonts/vendor/Jost/Jost-700-Bold.woff2") format("woff2"),
    url("fonts/vendor/Jost/Jost-700-Bold.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Jost-Italic */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Italic"),
    local("Jost-Italic"),
    // indestructible Jost*
    local("Jost* BookItalic"),
    local("Jost-BookItalic"),
    url("fonts/vendor/Jost/Jost-400-BookItalic.woff2") format("woff2"),
    url("fonts/vendor/Jost/Jost-400-BookItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Jost-500-Italic */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Medium Italic"),
    local("JostItalic-Medium"),
    // indestructible Jost*
    local("Jost* Medium Italic"),
    local("Jost-MediumItalic"),
    url("fonts/vendor/Jost/Jost-500-MediumItalic.woff2") format("woff2"),
    url("fonts/vendor/Jost/Jost-500-MediumItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Jost-700-Italic */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Bold Italic"),
    local("JostItalic-Bold"),
    // indestructible Jost*
    local("Jost* Bold Italic"),
    local("Jost-BoldItalic"),
    url("fonts/vendor/Jost/Jost-700-BoldItalic.woff2") format("woff2"),
    url("fonts/vendor/Jost/Jost-700-BoldItalic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
