@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("Noto Sans Regular"),
    url("fonts/vendor/NotoSans-Regular.woff2") format("woff2"),
    url("fonts/vendor/NotoSans-Regular.woff") format("woff");
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("Noto Sans Medium"),
    url("fonts/vendor/NotoSans-Medium.woff2") format("woff2"),
    url("fonts/vendor/NotoSans-Medium.woff") format("woff");
}

@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("Noto Sans Bold"),
    url("fonts/vendor/NotoSans-Bold.woff2") format("woff2"),
    url("fonts/vendor/NotoSans-Bold.woff") format("woff");
}

@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local("Noto Sans Italic"),
    url("fonts/vendor/NotoSans-Italic.woff2") format("woff2"),
    url("fonts/vendor/NotoSans-Italic.woff") format("woff");
}

@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local("Noto Sans Medium Italic"),
    url("fonts/vendor/NotoSans-MediumItalic.woff2") format("woff2"),
    url("fonts/vendor/NotoSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local("Noto Sans Bold Italic"),
    url("fonts/vendor/NotoSans-BoldItalic.woff2") format("woff2"),
    url("fonts/vendor/NotoSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("JetBrains Mono Regular"),
    url("fonts/vendor/JetBrainsMono-Regular.woff2") format("woff2"),
    url("fonts/vendor/JetBrainsMono-Regular.woff") format("woff");
}

@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    local("JetBrains Mono Medium"),
    url("fonts/vendor/JetBrainsMono-Medium.woff2") format("woff2"),
    url("fonts/vendor/JetBrainsMono-Medium.woff") format("woff");
}

@font-face {
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local("JetBrains Mono Bold"),
    url("fonts/vendor/JetBrainsMono-Bold.woff2") format("woff2"),
    url("fonts/vendor/JetBrainsMono-Bold.woff") format("woff");
}

@font-face {
  font-family: JetBrains Mono;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local("JetBrains Mono Italic"),
    url("fonts/vendor/JetBrainsMono-Italic.woff2") format("woff2"),
    url("fonts/vendor/JetBrainsMono-Italic.woff") format("woff");
}

@font-face {
  font-family: JetBrains Mono;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    local("JetBrains Mono Medium Italic"),
    url("fonts/vendor/JetBrainsMono-MediumItalic.woff2") format("woff2"),
    url("fonts/vendor/JetBrainsMono-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: JetBrains Mono;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local("JetBrains Mono Bold Italic"),
    url("fonts/vendor/JetBrainsMono-BoldItalic.woff2") format("woff2"),
    url("fonts/vendor/JetBrainsMono-BoldItalic.woff") format("woff");
}